<div class="row">
    <div class="col-md-6">
      <h2><i class="fa fa-users"></i> Clients</h2>
    </div>
    <!-- <div class="col-md-6">
      <h5 class="pull-right text-muted">Total Owed: {{totalOwed | currency:"INR"}}</h5>
    </div> -->
  </div>
  <!-- <table *ngIf="clients?.length > 0;else noClients" class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        
        <th>Name</th>
        <th>Email</th>
        <th>Balance</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client1 of clients">
        
        <td>{{client1.firstName}} {{client1.lastName}}</td>
        <td>{{client1.email}}</td>
        <td>{{client1.balance | currency:"INR"}}</td>
        <td><a href="" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-circle-o-right"></i> Details</a></td>
      </tr>
    </tbody>
  </table>


  <br> -->

<table *ngIf="clients?.length > 0;else noClients" class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      
      <th>Name</th>
      <th>VehicleNumber</th>
      <th>parkingSlot</th>
      <th>Status</th>
      <th>parkingFees</th>
      
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client12 of clients2New2">
      
      <td>{{client12.Name}}</td>
      <td>{{client12.VehicleNumber}}</td>
      <td>{{client12.parkingSlot}}</td>
      <td>{{client12.Status}}</td>
      <td>{{client12.parkingFees | currency:"INR"}}</td>
      <!-- <td><a href="" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-circle-o-right"></i> Details</a></td> -->
    </tr>
  </tbody>
</table>

<h2>Parking Slots</h2>
<br>
<div class="example-button-row">

  <button mat-raised-button  style="margin-right: 15px">slot 1</button>
 
  <button mat-raised-button  style="margin-right: 15px">slot 2</button>
  <button mat-raised-button color="primary" style="margin-right: 15px">slot 3</button>
  <button mat-raised-button style="margin-right: 15px">slot 4</button>
  <button mat-raised-button  style="margin-right: 15px">slot 5</button>
  <button mat-raised-button color="primary" style="margin-right: 15px">slot 6</button>
  <button mat-raised-button  style="margin-right: 15px">slot 7</button>

  <button *ngIf="value==1;else slotTemp" mat-raised-button color="primary" style="margin-right: 15px">slot 8</button>



  <button mat-raised-button  style="margin-right: 15px">slot 9</button>
  <button mat-raised-button color="primary" style="margin-right: 15px">slot 10</button>
  <button mat-raised-button color="primary" style="margin-right: 15px">slot 11</button>
  <button mat-raised-button  style="margin-right: 15px">slot 12</button>
  <button mat-raised-button color="primary"style="margin-right: 15px">slot 13</button>

  <br>
  <br>
  
  <button mat-raised-button style="margin-right: 15px">slot 14</button>
  <button mat-raised-button  style="margin-right: 15px">slot 15</button>


  <button mat-raised-button  style="margin-right: 15px">slot 16</button>
  <button mat-raised-button color="primary" style="margin-right: 15px">slot 17</button>
  <button mat-raised-button  style="margin-right: 15px">slot 18</button>
  <button mat-raised-button  style="margin-right: 15px">slot 19</button>
  <button mat-raised-button  style="margin-right: 15px">slot 20</button>


  <button mat-raised-button color="primary" style="margin-right: 15px">slot 21</button>


  <button mat-raised-button  style="margin-right: 15px">slot 22</button>
  <button mat-raised-button color="primary" style="margin-right: 15px">slot 23</button>
  <button mat-raised-button  style="margin-right: 15px">slot 24</button>
  <button mat-raised-button  style="margin-right: 15px">slot 25</button>
 


 

</div>






  


<!-- <h5>{{value}}</h5> -->


<!-- <button (click)="get_products()">GET /products</button>
<button (click)="get_products3()">post /products</button> -->

  
  <ng-template #noClients>
    <hr>
    <h5>There are no clients in the system</h5>
  </ng-template>

  <ng-template #slotTemp>
      <button mat-raised-button  style="margin-right: 15px">slot 8</button>
    </ng-template>




