
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Admin panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/">Dashboard <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/login">Login</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/register">Register</a>
        </li> -->
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" href="#" (click)="onLogoutClick()">Logout</a>
        </li> 
        
      </ul>
    </div>
  </nav>